h1, h2, h3, h4, h5, h6 {
  color: @brand-primary;
}

// Use contextual links for actions on Nodes. Affects staff only.
.page-node {
  .tabs--primary.nav-tabs {
    display: none;
  }
}

.views-field-field-is-audio {
  display: none;
}

.views-field-field-speakers,
.views-field-field-date-text {
  display: inline-block;
}

.views-field-body,
.views-field-nid {
  display: inline;

  .field-content {
    display: inline;
  }
}

.views-field-field-speakers,
.views-field-field-date-text {
  max-width: 49%;
}

.views-field-field-speakers,
.views-field-field-date-text {
  font-weight: bold;
}

.views-field-field-date-text {
  float: right;
}

.views-field-body {
  clear: both;
}