.navbar-brand,
.lead {
  color: @brand-primary;
}

.navbar-default .navbar-nav {
  color: white;
  background-color: @brand-primary;

  > .active {
    > a,
    > a:hover,
    > a:focus {
      color: white;
      background-color: @brand-primary;
      font-weight: bold;
    }
  }
}

.navbar .logo img {
  width: 150px;
}